<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/42544c7e-3c17-4260-93ec-c43d88a06363/v3/index.json" />
  </packageSources>
</configuration>